<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./src/app/app.component.css"/>
  </head>
  <body>
    <div class="logo">
      <img src="./images/logo.svg">
    </div>
    <div class="subreddit-text">
      <img src="./images/Subreddit.svg">
      <img src="./images/change-sub-box.svg">
    </div>
    <div class="reload-button">
       <img src="./images/reload-button.svg">
    </div>

    <div class="table">
      <mat-table [dataSource]="templatePost">
        <ng-container matColumnDef="postTitle">
          <th mat-header-cell *matHeaderCellDef> Title: </th>
            <td mat-cell *matCellDef="postTitle"> {{data.title}} </td>
            <td mat-cell *cdkCellDef="postTitle"> {{data.title}} </td> 
            <td mat-cell *cdkCellDef="postTitle"> {{data.title}} </td> 
            <td mat-cell *cdkCellDef="postTitle"> {{data.title}} </td> 
            <td mat-cell *cdkCellDef="postTitle"> {{data.title}} </td>         
        </ng-container>

        <ng-container matColumnDef="postScore">
          <th mat-header-cell **matHeaderCellDef> Score: </th>
            <td mat-cell *cdkCellDef="postScore"> {{data.score}} </td>
            <td mat-cell *cdkCellDef="postScore"> {{data.score}} </td> 
            <td mat-cell *cdkCellDef="postScore"> {{data.score}} </td> 
            <td mat-cell *cdkCellDef="postScore"> {{data.score}} </td>
            <td mat-cell *cdkCellDef="postScore"> {{data.score}} </td>         
        </ng-container>

        <ng-container matColumnDef="postCount">
          <th mat-header-cell **matHeaderCellDef> Comment Count: </th>
            <td mat-cell *cdkCellDef="postCount"> {{data.count}} </td>
            <td mat-cell *cdkCellDef="postCount"> {{data.count}} </td> 
            <td mat-cell *cdkCellDef="postCount"> {{data.count}} </td>
            <td mat-cell *cdkCellDef="postCount"> {{data.count}} </td> 
            <td mat-cell *cdkCellDef="postCount"> {{data.count}} </td>        
        </ng-container>

        <ng-container matColumnDef="postURL">
          <th mat-header-cell **matHeaderCellDef> Link: </th>
            <td mat-cell *cdkCellDef="postURL"> {{data.url}} </td>
            <td mat-cell *cdkCellDef="postURL"> {{data.url}} </td> 
            <td mat-cell *cdkCellDef="postURL"> {{data.url}} </td>
            <td mat-cell *cdkCellDef="postURL"> {{data.url}} </td>
            <td mat-cell *cdkCellDef="postURL"> {{data.url}} </td>       
        </ng-container>
      </mat-table>
    </div>
  </body>
</html>

<script type="text/javascript" src="assets/js/jquery.min.js"></script>

<script>
  function templatePost(data){
    var postTitle = data.title;
    var postScore = data.score;
    var postCount = data.count;
    var postURL = data.url;
      postText - data.text,
      authorURL = 'http://reddit.com/u/' + postAuthor;


  $.get("assets/ajax/get.page.php", function(data){

    data = JSON.parse(data);
    var post = data.data.children(0).data;
    var postAuthor = post.author;
    var postText = post.selftext,
    postTitle = post.title,
    postURL = post.permalink,
    postID = post.id;


    var postdata = {
      "id": postID,
      "title": postTitle,
      "author": postAuthor, 
      "url": postURL,
      "text": postText,
    };

    if(postText.length > 0){
      postData.text - postText;
    else
      print "There isn't any text to display. :(";
    };

    console.log(postData); 
    var postHTML =  templatePost(postDats);
    $("#results").append(postHTML);
  });
</script>
